<NewsItem>
	<title>{{item.title}}</title>
    <newsitem>{%if item.news == true%}1{%else%}0{%endif%}</newsitem>
    <carouselitem>{%if item.carousel == true%}1{%else%}0{%endif%}</carouselitem>
    <newsid>{%assign length = item.newsid | size %}{% if length > 8%}{{item.newsid | remove: "-" | remove: " " | remove: ":" | slice: 2,10 }}{%else%}{{item.newsid}}{%endif%}</newsid>
    <slide>{{item.carousel_content | xml_escape}}</slide>
    <summary>{{item.excerpt | xml_escape}}</summary>
    <content>{%if item.content contains '<!--more-->'%}{{item.content | split:'<!--more-->' | last | xml_escape}}{%else%}{{item.content | xml_escape}}{%endif%}</content>
    {%if item.feature != nil%}<feature>{{item.feature}}</feature>{%endif%}
    <url_link>{{item.link}}</url_link>
    <carousel_publish>{{item.publish | date: "%Y%m%d"}}</carousel_publish>
    <carousel_expire>{{item.carousel_expire | date: "%Y%m%d"}}</carousel_expire>	
    <news_publish>{{item.publish | date: "%Y%m%d"}}</news_publish>
    <news_expire>{{item.expire | date: "%Y%m%d"}}</news_expire>
    <initial_publish>{{item.publish | date: "%Y%m%d"}}</initial_publish>	
</NewsItem>
